/* import m6x11plus.ttf */

@font-face {
  font-family: 'm6x11plus';
  src: url('m6x11plus.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'm6x11plus';
  text-shadow: #000 2px 2px 2px;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  z-index: -1;
  pointer-events: none;
}

main {
  text-align: center;
  color: white;
  padding: 1rem;
  width: min(60rem, 100%);
  margin: 1rem auto;
  font-size: 1.5rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.jokers,
.consumables {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;
}

.joker {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: 2px solid white;
  border-radius: 1rem;

  background-color: #374244;
}

.joker img {
  height: 190px;
  image-rendering: pixelated;
}

#download {
  background-color: #374244;
  color: white;
  padding: 1rem;
  border: 2px solid white;
  border-radius: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.rarity {
  width: 142px;
  border-radius: 8px;
  padding: 8px;
}

.soulholder {
  width: 142px;
  height: 190px;
  position: relative;
}

.soulholder img {
  position: absolute;
}

@keyframes soul-rotate {
  from {
    transform: rotateZ(-3deg)
  }

  to {
    transform: rotateZ(3deg)
  }
}

.soul-top {
  width: 142px;
  object-fit: cover;
  object-position: right;
  top: 0;
  left: 0;
  filter: drop-shadow(0px 0px 5px #4f6367);
  animation: soul-rotate 15s ease-in-out infinite alternate;
  animation-delay: -7.5s
}

.soul-bg {
  width: 142px;
  object-fit: cover;
  object-position: left;
  top: 0;
  left: 0;
}

#gettemp {
  text-decoration: none;
  color: white;
}